<div class="navbar navbar-app navbar-absolute-top header md-accent-bg" layout="column" layout-align="space-between" 
    style="padding: 24px;
    background-image: url(imgs/background/header-bg.png);
    background-size: cover;
    background-color: rgb(0,155,255);
    color: #FFF">
    <div layout="row" layout-align="center center" ng-if="!mobile">
        <div><span class="md-display-1 font-weight-300">PIPELINE</span></div>
    </div>
    <div ng-if="mobile" id="mobile-header">
        <div id="mobile-menu-btn">
            <a ng-click="toggleSidebar()">
                <span class="menu-icon glyphicon glyphicon-menu-hamburger pull-left"></span>
            </a>
        </div>
        <div>
            <span class="md-display-1 font-weight-300">PIPELINE</span>
        </div>
    </div>
</div>