#contactSection html, #contactSection body {
  background: #f1f1f1;
  font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}

form {
   text-align: center;
}
input, textarea {
    padding: 2vw;
    width: 95vw;
    font-size: 3vh;
    border-bottom: 1px solid #AAA;
}

#submitButton {
    color: white;
    background-color: #136cb2;
    cursor: pointer;
    width: 100vw;
    height: 10vh;
    font-size: 3vh;
}
  
textarea {
    height: 20vh;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}