<form name="changepasswordform" role="form" class="panel panel-default base-form" ng-submit="submitChangePassword(changepasswordform)" novalidate>
    <h1 class="panel-heading text-center">Change Password</h1>
    <br />
    <md-input-container class="md-block flex-gt-sm md-input-invalid">
        <label>Current Password</label>
        <input id="login-password" required="" type="password" name="password" ng-model="changepassword.currentpassword"class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
        <div ng-messages="changepasswordform.currentpassword.$error">
            <div ng-message="required">Current password is required!</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block flex-gt-sm md-input-invalid">
        <label>New Password</label>
        <input id="login-password" required="" type="password" name="password" ng-model="changepassword.newpassword"class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
        <div ng-messages="changepasswordform.newpassword.$error">
            <div ng-message="required">New password is required!</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block flex-gt-sm md-input-invalid">
        <label>Re-enter Password</label>
        <input id="login-password" required="" type="password" name="password" ng-model="changepassword.confirmpassword" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
        <div ng-messages="changepasswordform.confirmpassword.$error">
            <div ng-message="required">Re-enter your new password!</div>
        </div>
    </md-input-container>

    <br ng-show="errors" />
    <span class="error" ng-show="errors">{{errors}}</span>
    <div class="form-group">
        <input type="submit" name="changepassword" class="login loginmodal-submit btn btn-primary btn-block" value="Change Password">
    </div>
</form>