<div class="scrollable">
    <div class="scrollable-content section" >
        <form name="inviteform" role="form" class="panel panel-default base-form" ng-submit="requestInvite(inviteform)" ng-class="desktopMode() ? 'desktop' : 'mobile'" novalidate>
            <h1 class="panel-heading text-center">Request Invite</h1>
            <br />
            <div layout="row"  layout-align="space-between none" layout-xs="column" layout-sm="column">
                <div layout="column" flex=".5" layout-margin>
                    <fieldset class="standard">
                        <p>You are a(n):</p>
                        <md-radio-group ng-model="user.type" class="ng-pristine ng-valid ng-touched" role="radiogroup" tabindex="0" aria-activedescendant="radio_36" aria-invalid="false" style="">
                            <md-radio-button value="individual" class="md-primary" id="radio_35" role="radio" aria-label="Individual">
                                <span class="ng-scope">Individual</span>
                            </md-radio-button>
                            <md-radio-button value="company" id="radio_36" role="radio" aria-checked="false" aria-label="Organization">
                                <span class="ng-scope">Organization </span>
                            </md-radio-button>
                        </md-radio-group>
                    </fieldset>
                    <br />
                    <fieldset ng-if="user.type === 'individual'">
                        <p>Your Details:</p>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label label-for="invite-email">Email</label>
                            <input id="invite-email" type="email" required="" ng-model="user.email" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                            <div ng-messages="inviteform.email.$error">
                                <div ng-message="required">Email is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label label-for="invite-firstname">First Name</label>
                            <input id="invite-firstname" type="text" name="firstname" ng-model="user.firstname" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false" required>
                            <div ng-messages="inviteform.firstname.$error">
                                <div ng-message="required">First name is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label>Middle Name</label>
                            <input type="text" name="middlename" ng-model="user.middlename" class="ng-pristine md-input ng-invalid ng-touched" aria-required="false" aria-invalid="true" ng-trim="false">
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label>Last Name</label>
                            <input type="text" name="lastname" ng-model="user.lastname" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false" required>
                            <div ng-messages="inviteform.lastname.$error">
                                <div ng-message="required">Last name is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label>LinkedIn URL</label>
                            <input type="text" name="linkedinUrl" ng-model="user.linkedin" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                        </md-input-container>
                    </fieldset>
                    <fieldset ng-if="user.type === 'company'">
                        <p>Your Company:</p><br />
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label label-for="invite-email">Email</label>
                            <input id="invite-email" type="email" required="" name="email" ng-model="user.email" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                            <div ng-messages="inviteform.email.$error">
                                <div ng-message="required">Email is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label>Company Name</label>
                            <input type="text" name="organization" ng-model="user.organization" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false" required />
                            <div ng-messages="inviteform.organization.$error">
                                <div ng-message="required">Organization is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label>LinkedIn URL</label>
                            <input type="text" name="linkedinUrl" ng-model="user.linkedin" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm md-input-invalid">
                            <label>Website URL</label>
                            <input type="text" name="websiteUrl" ng-model="user.website" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                        </md-input-container>
                    </fieldset>
                </div>
                <div layout="column" flex=".5" layout-margin>
                    <fieldset>
                        <p>Purpose for Joining:</p>
                        <md-radio-group ng-model="user.purpose" class="ng-pristine ng-valid ng-touched" role="radiogroup" tabindex="0" aria-invalid="false">
                            <md-radio-button value="ForFunding" class="md-primary" id="radio_39" role="radio" aria-label="Looking for Funding">
                                <span class="ng-scope">Looking for Funding</span>
                            </md-radio-button>
                            <md-radio-button class="md-warn" value="ToFinance" id="radio_22" role="radio" aria-checked="false" aria-label="Looking to Financing">
                                <span class="ng-scope">Offering Finance</span>
                            </md-radio-button>
                            <md-radio-button value="ToFinanceAndForFunding" id="radio_21" role="radio" aria-checked="false" aria-label="Both">
                                <span class="ng-scope">Both</span>
                            </md-radio-button>
                        </md-radio-group>
                    </fieldset>
                    <br />
                    <fieldset>
                        <p>Business Interests:</p>
                        <div class="form-group">
                            <div ng-repeat="c in user.categories">
                                <md-checkbox aria-label="{{c.Category}}" class="md-primary" name="{{c.Category}}" ng-model="user.categories[$index].Checked" value="{{c.Category}}">
                                    {{c.Category}}
                                </md-checkbox>
                            </div>
                            <md-checkbox aria-label="Other" class="md-primary" name="Other" value="Other" ng-model="checkedOthers">
                                Other
                            </md-checkbox>
                            <md-input-container ng-show="checkedOthers" class="md-block flex-gt-sm md-input-invalid">
                                <label>Enter Your Category</label>
                                <input type="text" name="otherCategory" ng-model="user.otherCategory" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false" />
                            </md-input-container>
                        </div>
                    </fieldset>
                </div>
            </div>
            <br ng-show="errors" />
            <span class="error" ng-show="errors">{{errors}}</span>
            <hr />
            <input type="submit" name="request" class="modal-submit btn btn-primary btn-block" value="Request">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
        </form>
    </div>
</div>
