<form class="select-type-form" name="selecttypeform" role="form" class="panel panel-default base-form" novalidate>
    <fieldset>
        <p>Browse Listings For:</p>
        <md-radio-group class="ng-pristine ng-valid ng-touched" role="radiogroup" tabindex="0" aria-invalid="false">
            <md-radio-button ng-click="chooseType('investments')" class="md-primary" value="ToFinance" id="radio_2222" role="radio">
                <span class="ng-scope">Projects</span>
            </md-radio-button>
            <md-radio-button ng-click="chooseType('finances')" value="ForFunding" class="md-primary" id="radio_1111" role="radio">
                <span class="ng-scope">Financing</span>
            </md-radio-button>
        </md-radio-group>
    </fieldset>
</form>
