<form name="loginform" role="form" class="panel panel-default base-form" ng-submit="submitLogin(loginform)" ng-class="{'desktop' : desktopMode()}" novalidate>
    <h1 class="panel-heading text-center">Login</h1>
    <br />
    <md-input-container class="md-block flex-gt-sm md-input-invalid">
        <label label-for="login-email">Email</label>
        <input id="login-email" required="" name="email" ng-model="login.email" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
        <div ng-messages="loginform.email.$error">
            <div ng-message="required">Email is required!</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block flex-gt-sm md-input-invalid">
        <label label-for="login-password">Password</label>
        <input id="login-password" required="" type="password" name="password" ng-model="login.password" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
        <div ng-messages="loginform.password.$error">
            <div ng-message="required">Password is required!</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block flex-gt-sm md-input-invalid">
        <label label-for="login-remember-checkbox">Remember Me</label>
        <input id=""login-remember-checkbox"" name="rememberme" ng-model="login.rememberme" type="checkbox" aria-required="true" aria-invalid="true" ng-trim="false">
    </md-input-container>

    <br ng-show="errors" />
    <span class="error" ng-show="errors">{{errors}}</span>
    <hr />
    <div class="form-group">
        <input type="submit" name="login" class="login loginmodal-submit btn btn-primary btn-block" value="Login">
    </div>
    <div>
        <a class="login-password" href="#/forgot">Forgot Password</a>
        <a class="login-request" href="#/invite">Request an Invitation</a>
    </div>
    <hr>
</form>