
<style>
    #banner {
        width: 100%;
        height: 150px;
    }

    .img-responsive {
        width: 100%;
        height: 500px;
    }

    p {
        font-size: 1.25em;
        line-height: 1.6;
        color: #000;
    }

    .box {
        margin-bottom: 20px;
        padding: 30px 15px;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .intro-text {
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .sub-text {
        font-size: 1.15em;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
    }

    .img-full {
        min-width: 100%;
    }

    .img-border {
        float: none;
        margin: 0 auto 0;
        border: #999999 solid 1px;
    }

    .img-left {
        float: none;
        margin: 0 auto 0;
    }


    hr {
        border-color: #999999;
    }

    textarea {
        height: 150px;
    }

    .md-label {
        padding-right: 100px;
    }
</style>

<form id="create-listing" name="listingform" role="form" ng-submit="createListing(listingform)" class="panel panel-default" enctype="multipart/form-data" novalidate>
    <div layout="row" class="listing-section-header" layout-align="center center">
        <h4 class="intro-text text-center">CREATE LISTING</h4>
    </div>
    <div layout="row" class="listing-section" layout-align="center stretch">
        <md-input-container flex class="md-input-invalid">
            <fieldset style="font-size:x-large">
                <label>Title</label>
                <input type="text" required="" name="title" ng-model="listing.title" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched " aria-required="true" aria-invalid="true" ng-trim="false">
                <div ng-messages="listingform.title.$error">
                    <div ng-message="required">Title is required!</div>
                </div>
            </fieldset>
        </md-input-container>
    </div>
    <div layout="row" layout-sm="column" layout-xs="column" class="listing-section" layout-align="space-between">
        <div flex layout-margin>
            <fieldset>
                <label>Images</label>
                <div id="imgs-dropzone" class="dropzone" ng-dropzone dropzone="ctrl.dropzone2" dropzone-config="ctrl.dropzoneConfig" event-handlers="{ 'addedfile': ctrl.dzAddedFile}">
                    <div class="dz-message needsclick">
                        Drop files here or click to upload.
                    </div>
                </div>
            </fieldset>
        </div>
        <div flex layout-margin>
            <fieldset>
                <label>Start Date</label>
                <md-content>
                    <md-datepicker name="startdate" ng-model="listing.startdate" date-format="MM/dd/yyyy"> </md-datepicker>
                </md-content>
                <div ng-messages="listingform.startdate.$error">
                    <div ng-message="required">Start date is required!</div>
                </div>
                <label>End Date</label>
                <md-content>
                    <md-datepicker name="enddate" ng-model="listing.enddate" date-format="MM/dd/yyyy"> </md-datepicker>
                </md-content>
                <div ng-messages="listingform.enddate.$error">
                    <div ng-message="required">End date is required!</div>
                </div>
            </fieldset>
            <fieldset>
                <label>Listing Type</label>
                <div class="form-group">
                    <md-radio-group name="type" ng-model="listing.type" class="ng-pristine ng-valid ng-touched" role="radiogroup" tabindex="0" aria-invalid="false">
                        <md-radio-button value="investment" class="md-primary" id="radio_1211" role="radio" aria-label="Investment Opportunity">
                            <span class="ng-scope">Investment Opportunity</span>
                        </md-radio-button>
                        <md-radio-button class="md-warn" value="finance" id="radio_2122" role="radio" aria-checked="false" aria-label="Finance Opportunity">
                            <span class="ng-scope">Finance Opportunity</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div ng-if="listing.type === 'investment'">
                    <md-input-container class="md-block flex-gt-sm md-input-invalid">
                        <label>Investment Type</label>
                        <md-select name="investmentype" ng-model="listing.investmenttype" required>
                            <md-option ng-value="it.name" ng-repeat="it in investmenttypes">{{it.name}}</md-option>
                        </md-select>
                        <div ng-messages="listingform.investmenttype.$error">
                            <div ng-message="required">Investment type is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block flex-gt-sm md-input-invalid">
                        <label>Seeking Price ($)</label>
                        <input type="number" required="" name="price" ng-model="listing.price" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                        <div ng-messages="listingform.price.$error">
                            <div ng-message="required">Seeking price is required!</div>
                        </div>
                    </md-input-container>
                </div>
                <div ng-if="listing.type === 'finance'">
                    <md-input-container class="md-block flex-gt-sm md-input-invalid">
                        <label>Investment Capital Range From ($)</label>
                        <input type="number" required="" name="fromprice" ng-model="listing.lowest" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                        <div ng-messages="listingform.lowest.$error">
                            <div ng-message="required">From price is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block flex-gt-sm md-input-invalid">
                        <label>Investment Capital Range To ($)</label>
                        <input type="number" requiredhighest name="toprice" ng-model="listing.highest" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                        <div ng-messages="listingform.price.$error">
                            <div ng-message="required">To price is required!</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>Jurisdiction</label>
                    <md-select ng-model="listing.jurisdiction" name="jurisdiction" required>
                        <md-option ng-repeat="j in jurisdictions" ng-value="j">{{j.name}}</md-option>
                    </md-select>
                    <div ng-messages="listingform.jurisdiction.$error">
                        <div ng-message="required">Jurisdiction selection is required!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>Industry</label>
                    <md-select ng-model="listing.category" name="industry" required>
                        <md-option ng-repeat="c in categories" ng-value="c">{{c.name}}</md-option>
                    </md-select>
                    <div ng-messages="listingform.category.$error">
                        <div ng-message="required">Industry selection is required!</div>
                    </div>
                </md-input-container>
            </fieldset>
        </div>
    </div>
    <div layout="column" layout-align="start stretch">
        <div layout="row" class="listing-section-header" layout-align="center center">
            <h4 class="intro-text text-center">Summary</h4>
        </div>
        <div layout="row" class="listing-section" layout-align="center stretch">
            <textarea maxlength="1024" ng-model="listing.summary" name="summary" class="listing-textarea" placeholder="Listing summary..."></textarea>
        </div>
        <div layout="row" class="listing-section-header" layout-align="center center">
            <h4 class="intro-text text-center">Description</h4>
        </div>
        <div layout="row" class="listing-section" layout-align="center stretch">
            <textarea ng-model="listing.description" name="description" class="listing-textarea" placeholder="Listing description..."></textarea>
        </div>
        <div layout="row" class="listing-section-header" layout-align="center center">
            <h4 class="intro-text text-center">Contact Info</h4>
        </div>
        <div layout="row" class="listing-section" layout-align="center stretch">
            <fieldset>
                <md-radio-group name="contactchoice" ng-change="toggleContactInfo()" ng-model="listing.contact" class="ng-pristine ng-valid ng-touched" role="radiogroup" tabindex="0" aria-invalid="false">
                    <md-radio-button ng-value="true" class="md-primary" id="radio_111" role="radio" aria-label="Use My Contact">
                        <span class="ng-scope">Use My Contact</span>
                    </md-radio-button>
                    <md-radio-button class="md-warn" ng-value="false" id="radio_222" role="radio" aria-checked="false" aria-label="Add New Contact">
                        <span class="ng-scope">Add New Contact</span>
                    </md-radio-button>
                </md-radio-group>
            </fieldset>
            <fieldset>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>First Name</label>
                    <input type="text" required="" name="firstname" ng-model="listing.firstname" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                    <div ng-messages="listingform.firstname.$error">
                        <div ng-message="required">First name is required!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>Middle Name</label>
                    <input type="text" name="middlename" ng-model="listing.middlename" class="ng-pristine md-input ng-invalid ng-touched" aria-required="false" aria-invalid="false" ng-trim="false">
                </md-input-container>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>Last Name</label>
                    <input type="text" required="" name="lastname" ng-model="listing.lastname" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                    <div ng-messages="listingform.lastname.$error">
                        <div ng-message="required">Last name is required!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>Email</label>
                    <input type="email" required="" name="email" ng-model="listing.email" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                    <div ng-messages="listingform.email.$error">
                        <div ng-message="required">Email is required!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>Main Phone</label>
                    <input type="text" required="" name="mainphone" ng-model="listing.mainphone" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" ng-trim="false">
                    <div ng-messages="listingform.mainphone.$error">
                        <div ng-message="required">Main phone number is required!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block flex-gt-sm md-input-invalid">
                    <label>Second Phone</label>
                    <input type="text" name="secondphone" ng-model="listing.secondphone" class="ng-pristine md-input ng-invalid ng-touched" aria-required="false" aria-invalid="true" ng-trim="false">
                </md-input-container>
            </fieldset>
        </div>
        <div layout="row" layout-align="end center" style="padding:20px">
            <button type="submit" name="create" class="md-button btn-primary" value="Create">Create</button>
        </div>
    </div>
</form>