*, *:before, *:after {
   @include box-sizing(border-box); 
}

#contactSection html, #contactSection body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

#contactSection form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
}
#contactSection form input, #contactSection form textarea {
    border: 1px 1px 1px 1px #DDD;
    outline:0;
    padding: 1em;
    @include border-radius(8px);
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    @include box-shadow(0 1px 1px rgba(black, 0.1));
    resize: none;
    border-radius: 10px;
}
#contactSection &:focus {
   @include box-shadow(0 0px 2px rgba($red, 1)!important);
}
  
#submitButton {
    color: white;
    background-color: #136cb2;
    cursor: pointer;
    border-radius: 10px;
}

#submitButton:hover {
    background-color: #AAA;
    transition: 0.3s;
}
    
#contactSection input:hover {
    @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
}
  
#contactSection textarea {
    height: 126px;
    margin-left: 20px;
}

#contactSection .half {
  float: left;
  width: 41%;
  margin-bottom: 1em;
}

#contactSection .right {
    width: 50%;
}

#contactSection .left {
    margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}