html {
    font-family: "Helvetica Neue";
    width: 100%;
}

#header {
    height: 10vh;
    position: fixed;
    z-index: 1;
}

#navigationBar {
    overflow: hidden;
    background-color: #FFFFFF;
    color: #000000; /* Sets the color of the text */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-bottom: 2vh; /* Makes the height a bit bigger so that the bottom matches the top */
}

#loginButton {
    width: 100px; /* Sets the width and automatically the height */
    margin-bottom: -20px; /* Makes the button align with the options */
    margin-left: 10vw; /* Puts some distance between the button and the left side of the window */
}

#options {
    margin-right: 7vw;/* Puts some distance between the options and the right side of the window */
}

#options a {
    float: right; /* Makes the options go to the right */
    margin-right: 4vw; /* Puts some distance between the each of the options */
}

#topSection {
    color: #FFFFFF; /* Set the font colour of all the text in this section */
    text-align: center; /* Horizontally center all the text in this section */
    height: 98vh;
    line-height: 85vh;
    margin-top: 3vh;
    background-image: url(../Images/Index/Top-Section/Vancouver-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#topSection span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#howItWorksSection {
    background-color: #136cb2;
    color: #FFFFFF;
    padding: 10px;
}

#aboutSection {
    background-color: antiquewhite;
    padding: 10px;
}

#contactSection {
    background-color:azure;
    padding: 10px;
}

#submitMessageButton {
    background-color: #468cc7;
    color: white;
    width: 100px;
    height: 33px;
    border-radius: 5px;
}

#submitMessageButton:hover {
    background-color: #EEE;
    transition: 0.3s;
}

.demo a {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#downButtonSection a {
  padding-top: 0px;
}
#downButtonSection a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#downButtonSection a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
h1 {
    font-weight: 400;
    font-size: 10vh;
    margin-bottom: 0;
    line-height: auto;
}

h2 {
    font-weight: 300;
    font-size: 3vh;
    line-height: auto;
}

h3 {
    text-align: center;
}

p {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

/* All links will have the same font colour as the other text in its div */
a {
    color: inherit;
    text-decoration: none;
}