<div class="scrollable-content section" ng-if="registration.status == 'Invalid'">
    The code or email you have entered does not exist.
</div>
<div class="scrollable-content section" ng-if="registration.status == 'Expired'">
    <p>The code you have entered has expired. </p>
    <p>Click here to request a new invitation code.</p>
</div>
<div class="scollable-content section">
    <form name="registerform" role="form" ng-class="desktopMode() ? 'desktop' : 'mobile'"
            class="panel panel-default base-form registration" ng-submit="submitRegistration(registerform)" ng-if="registration.status == 'New'" novalidate>
        <h1 class="panel-heading text-center">Register</h1>
        <fieldset class="left">
            <legend>Login Info</legend>
            <div class="form-group">
                <label>Email</label>
                <input type="email" ng-disabled="true" ng-model="registration.email" class="form-control ng-pristine ng-untouched ng-valid needsclick" name="email" placeholder="Enter Email" required/>
                <p class="error" ng-show="registerform.email.$touched && registerform.email.$invalid">* Email Required</p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" ng-model="registration.password" class="form-control ng-pristine ng-untouched ng-valid needsclick" name="password" placeholder="Password" required />
                <p class="error" ng-show="registerform.password.$touched && registerform.password.$invalid">* Password Required</p>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" ng-model="registration.confirmpassword" class="form-control ng-pristine ng-untouched ng-valid needsclick" name="confirmpassword" placeholder="Re-enter Password" required />
                <p class="error" ng-show="registerform.confirmpassword.$touched && registerform.confirmpassword.$invalid">* Confirm Password</p>
                <p class="error" ng-show="registerform.confirmpassword.$touched && !passwordsMatch()">* Confirmation password does not match password</p>
            </div>
        </fieldset>
        <fieldset class="right">
            <legend>Your Details</legend>
            <div ng-if="registration.ztype === 'individual'">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" ng-disabled="true" ng-model="registration.firstname" class="form-control ng-pristine ng-untouched ng-valid needsclick" name="firstname" placeholder="Enter First Name" required/>
                    <p class="error" ng-show="registerform.firstname.$touched && registerform.firstname.$invalid">* First Name Required</p>
                </div>
                <div class="form-group">
                    <label>Middle Name (Optional)</label>

                    <input type="text" ng-disabled="true" ng-model="registration.middlename" class="form-control ng-pristine ng-untouched ng-valid needsclick" name="middlename" placeholder="Enter Middle Name"/>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" ng-disabled="true" ng-model="registration.lastname" class="form-control ng-pristine ng-untouched ng-valid needsclick" name="lastname" placeholder="Enter Last Name" required/>
                    <p class="error" ng-show="registerform.lastname.$touched && registerform.lastname.$invalid">* Last Name Required</p>
                </div>
            </div>
            <div ng-if="registration.ztype === 'company'">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" ng-disabled="true" ng-model="registration.organization" class="form-control ng-pristine ng-untouched ng-valid needsclick" name="organization" placeholder="Enter Company Name" required />
                    <p class="error" ng-show="registerform.organization.$touched && registerform.organization.$invalid">* Company Name Required</p>
                </div>
            </div>
        </fieldset>
        <br ng-show="errors" />
        <span class="error" ng-show="errors">{{errors}}</span>
        <hr>
        <input type="submit" name="submit" value="Register" class="btn btn-primary btn-block">
        <hr>
    </form>
</div>
