<div class="scrollable">
    <div class="scrollable-content section">

        <form role="form" ng-submit="createUser()" class="ng-pristine ng-valid ng-valid-email">
            <fieldset>
                <legend>Create User</legend>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" ng-model="user.FirstName" class="form-control ng-pristine ng-untouched ng-valid needsclick" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" ng-model="user.LastName" class="form-control ng-pristine ng-untouched ng-valid needsclick" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" ng-model="user.Email" class="form-control ng-valid-email ng-pristine ng-untouched ng-valid needsclick ng-email" placeholder="Email">
                </div>

            </fieldset>
            <hr>

            <button class="btn btn-primary btn-block">
                Create
            </button>
        </form>
    </div>
</div>